@media only screen and (max-width: 640px) {
    .margin-left{
        margin-left: 20px;
    }
   .margin-bottom{
    margin-bottom: 10px;
   }
   .text-width{
    width: 100%;
   }
   .pic-width{
    width: 12rem;
    margin: auto;
   }
   .margin-right{
    margin-right: 35px;
    margin-bottom: 30px;
   }
  .margin-button{
    margin-left: 10px;
  }
}