@media only screen and (max-width: 640px) {
    .margin-left{
        display: flex;
        justify-content: center;
    }
   .margin-bottom{
    margin-bottom: 10px;
   }

   .card-width{
    width: 80%;
    margin: auto;
    margin-top: 50px;
   }
  .margin-button{
    margin-left: 10px;
  }
}